cmake-build-debug/
.idea/
old_Server/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
ec_gcm
ec_gcm.cbp
loop_test
tester
protoBufSDK/Makefile
protoBufSDK/CMakeFiles
protoBufSDK/CMakeCache.txt
protoBufSDK/msg.pb.cc
protoBufSDK/msg.pb.h
protoBufSDK/cmake_install.cmake
protoBufSDK/libproto.a
minikube
*.grpc*
*.pb*
cmake-build-relwithdebinfo/
cmake-build-debug_max/
cmake_install.cmake
deploy_test
tests/app_def.json
