cmake-build-debug/
.idea/
old_Server/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
ec_gcm
ec_gcm.cbp
loop_test
tester
protoBufSDK/Makefile
protoBufSDK/CMakeFiles
protoBufSDK/CMakeCache.txt
protoBufSDK/msg.pb.cc
protoBufSDK/msg.pb.h
minikube
